/* Shared styles */
@import url('https://fonts.googleapis.com/css2?family=Mulish:wght@400;800&display=swap');

* {
    font-family: 'Mulish', sans-serif;
}

.hamburger img {
    display: none;
    width: 24px;
    height: 24px;
    font-size: 1.5rem;
    cursor: pointer;
}

body {
    margin: 0;
}

/* Header styles  */
header {
    padding: 63px 135px;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;

}

.logo-name {
    display: flex;
    align-items: center;
}

.logo-name img {
    width: 3rem;
    height: 3.5rem;
}

.nav-elements ul {
    display: flex;
    gap: 44px;
}

.nav-elements ul li {
    list-style: none;

}

.nav-elements ul li a {
    text-decoration: none;
    color: #424247;
}

.name {
    color: #131318;
    font-size: 2.25rem;
    margin-left: 1rem;
}

.name span {
    color: #FF5400;
}

#home {
    color: #FF5400;
}

/* Responsive design for navbar */
@media screen and (max-width: 600px) {
    header {
        padding: 20px;
    }

    .name {
        font-size: 1.3rem;
        margin-left: 10px;
    }

    .logo-name img {
        width: 1.7rem;
        height: 2rem;
    }

    .nav-elements {
        display: none;
    }

    .hamburger img {
        display: block;
    }
}